<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .block {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
            width: 200px;
            max-width: 900px;
        }
    </style>
</head>
<body>
<a href="{% url 'index' %}">index</a>
<h1>{{ category.name }}</h1>
<h2>Посты</h2>
{% for post in posts %}
    <div class="block">
        <div>title: {{ post.title }}</div>
        <div>author: {{ post.author.username }}</div>
        <div>content: {{ post.content }}</div>
        <div>category: {{ post.category.name }}</div>
    </div>
{% endfor %}
</body>
</html>